[submodule "content/plugins/advanced-excerpt"]
	path = content/plugins/advanced-excerpt
	url = https://github.com/crowdfavorite/mirror-wp-advanced-excerpt
[submodule "content/plugins/akismet"]
	path = content/plugins/akismet
	url = https://github.com/crowdfavorite-mirrors/wp-akismet
[submodule "content/plugins/gregs-threaded-comment-numbering"]
	path = content/plugins/gregs-threaded-comment-numbering
	url = https://github.com/recordsonribs/mirror-wp-gregs-threaded-comment-numbering
[submodule "content/plugins/redirection"]
	path = content/plugins/redirection
	url = https://github.com/crowdfavorite-mirrors/wp-redirection
[submodule "content/plugins/w3-total-cache"]
	path = content/plugins/w3-total-cache
	url = https://github.com/crowdfavorite-mirrors/wp-w3-total-cache
[submodule "content/plugins/wp-google-analytics-for-wordpress"]
	path = content/plugins/wp-google-analytics-for-wordpress
	url = https://github.com/crowdfavorite-mirrors/wp-google-analytics-for-wordpress
[submodule "content/plugins/wp-syntax"]
	path = content/plugins/wp-syntax
	url = https://github.com/shazahm1/WP-Syntax
[submodule "content/themes/ror"]
	path = content/themes/ror
	url = https://github.com/recordsonribs/ror
[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git





[submodule "content/plugins/ribcage"]
	path = content/plugins/ribcage
	url = https://github.com/recordsonribs/ribcage
[submodule "content/plugins/events-manager"]
	path = content/plugins/events-manager
	url = https://github.com/recordsonribs/Ribcage-Events-Manager
[submodule "content/plugins/wordpress-seo"]
	path = content/plugins/wordpress-seo
	url = https://github.com/crowdfavorite-mirrors/wp-wordpress-seo
