[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/plugins/akismet"]
	path = content/plugins/akismet
	url = https://github.com/crowdfavorite/mirror-wp-akismet
